<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script crossorigin src="<%= htmlWebpackPlugin.options.react %>"></script>
    <script crossorigin src="<%= htmlWebpackPlugin.options.reactDom %>"></script>
    <script crossorigin src="https://unpkg.com/react-is/umd/react-is.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.2.0/react-router-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.0.5/redux.min.js"
        integrity="sha512-P36ourTueX/PrXrD4Auc1kVLoTE7bkWrIrkaM0IG2X3Fd90LFgTRogpZzNBssay0XOXhrIgudf4wFeftdsPDiQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-redux/7.2.0/react-redux.min.js"></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux-saga/1.1.3/redux-saga.umd.min.js"
        integrity="sha512-Ffc3ZXlnTMYo9uCPEMzPU8ySEtd0vvljd91C+rjf1AnvjZRFRhrLBFcih0I1Nm4zfFQMR0pANyR/vtLUi7YJvg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux-saga/1.1.3/redux-saga-effects.umd.min.js"
        integrity="sha512-WtT8xsP+HA8ikDMCJvCPbNK7WS+49QirEpopdRVFvTNmhh9txqc4Cu+q2+rA8VYYvL+Ym8MicCarM/VS8ewO1w=="
        crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/styled-components/dist/styled-components.min.js"></script>
</head>

<body>
    <div id="root"></div>

</body>

</html>